.lipstick_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f08080, #ffbf00, #80ffff);

}

.title {
    font-size: 3rem;
    margin-bottom: 2rem;

}

.deepar_preview {
    width: 1200px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 5px;

}