.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    height: 300px;
    color: white;
}

.logo {
    margin-top: 50px;
}

.text {
    display: flex;
    padding: auto;
    justify-content: space-between;
}

.end {
    color: rgb(137, 147, 156)
}